.orders-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(241, 239, 236);
}

.order {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  
}

.order-details {
  display: flex;
  justify-content: space-between;
}

.order-id {
  font-weight: bold;
}

.order-total {
  color: #062950;
}

.no-orders {
  color: #999;
}

